{% load i18n %}
{% if is_paginated %}
<nav class="mt-4" aria-label="{% translate 'Pages' %}">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="{% querystring page=page_obj.previous_page_number %}">←</a></li>
    {% endif %}
    <li class="page-item disabled"><span class="page-link">{% blocktranslate with number=page_obj.number total=paginator.num_pages %}{{ number }} of {{ total }}{% endblocktranslate %}</span></li>
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="{% querystring page=page_obj.next_page_number %}">→</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
